{% extends 'common/index.html' %}
s
{% block content %}

<head>
    <title>Adopt</title>
</head>
<body>
    <h2>Adopt</h2>
    <form class="form" method="post" action="">
            {% csrf_token %}
           {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {{ form.errors }}
        <button type="submit">Send</button>
    </form>
</body>

{% endblock %}