{% extends 'common/index.html' %}
s
{% block content %}


<h2>Adoption Details</h2>
     <div class="form">


     <p> <STRONG>Pet: </STRONG>  {{ adoption.pet }}</p>
     <p> <STRONG>User: </STRONG>  {{ adoption.user }}</p>
     <p> <STRONG>Phone:</STRONG>  {{ adoption.contact_number }}</p>
     <p> <STRONG>Home Environment: </STRONG>  {{ adoption.home_environment}}</p>
     <p> <STRONG>Previous Pet Experience: </STRONG>  {{ adoption.previous_pet_experience }}</p>
     <p> <STRONG>Reason for adoption: </STRONG>  {{ adoption.reason_for_adoption }}</p>

        </div>

{% endblock %}
