{% extends 'common/index.html' %}

{% block content %}



  <div class="form-pets">
    <h2>My Adoption Applications</h2>
        <div class="pet-cards">
            {% if my_adoptions_applications %}
                {% for adoption in my_adoptions_applications %}
                    <div class="pet-card">
                        <p><strong>Pet:</strong> {{ adoption.pet.name }}</p>
                        <p><strong>Status:</strong> {{ adoption.status }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h1> No adoption applications filled yet.</h1>
            {% endif %}
        </div>
  </div>

{% endblock %}