{% extends 'common/index.html' %}

{% block content %}


 <div class="form-pets">
    <h2> Approved Adoption Applications</h2>
    <div class="pet-cards">
        {% if approved_adoptions %}
            {% for approved_application in approved_adoptions %}
                <div class="pet-card">
                    <p>Pet: {{ approved_application.pet }}</p>
                    <p>User: {{ approved_application.user }}</p>
                    <p>Phone: {{ approved_application.contact_number }}</p>
                    <div class="details-buttons">
                        <a href="{% url 'more info' pk=approved_application.pk %}" class="details-link">View more information about the candidate</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No approved adoption applications available.</h1>
        {% endif %}
   </div>
 </div>

{% endblock %}