{% extends 'common/index.html' %}
{% load static %}
{% block content %}
  <h1>Event Catalog</h1>
  <div class="event-list">
    {% for event in events %}
      <div class="event">
        {% if event.photo %}
        <img src="{{ event.photo.url }}" alt="{{ event.name }}" class="event-image">
        {% endif %}
<h2 class="event-title">{{ event.name }}</h2>
  <div class="event-description">{{ event.description }}</div>
  <div class="event-details">
    <div class="event-detail">
      <strong>Location:</strong> {{ event.location }}
    </div>
    <div class="event-detail">
      <strong>Start Date:</strong> {{ event.start_date|date:"d M, Y"  }}
    </div>
    <div class="event-detail">
      <strong>End Date:</strong> {{ event.end_date|date:"d M, Y"  }}
    </div>
    <div class="event-detail">
      <strong>Number of People Going:</strong> {{ event.participants.count }}
    </div>
   </div>
        {% if user.is_authenticated %}
            {% if user in event.participants.all %}
                <a href="{% url 'remove participant' event_id=event.id %}" class="action-btn"> Remove from Participants</a>
            {% else %}
                <a href="{% url 'add participant' event_id=event.id %}" class="action-btn"> Join Event</a>
        {% endif %}
        {% else %}
            <p> <a href="{% url 'login user' %}" class="action-btn">Login</a> or <a href="{% url 'register user' %}" class="action-btn">Register</a> to join this event.</p>
    {% endif %}
      {% if request.user == event.organizer %}
        <div class="details-buttons">
            <a href="{% url 'edit event' pk=event.pk %}" class="details-link">Edit</a>
            <a href="{% url 'delete event' pk=event.pk  %}" class="details-link">Delete</a>
                </div>
    {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}