{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PawRescue</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>

<body style="background-image: url('{% static 'images/background.jpg' %}')">
    <header>
    <nav class="navigation">
      {% if user.is_authenticated %}
        <div class="user">
          <a href="{% url 'volunteer application' %}" class="nav-link">Volunteer</a>
          <a href="{% url 'pet catalog' %}" class="nav-link">Pets</a>
          <a href="{% url 'add pet' %}" class="nav-link">Add Pet for Adoption</a>
          <a href="{% url 'event catalog' %}" class="nav-link">Events</a>
          <a href="{% url 'create adoption event' %}" class="nav-link">Add Event</a>
          <a href="{% url 'details user' pk=user.pk %}" class="nav-link">Profile</a>
          <a href="{% url 'logout' %}" class="nav-link">LogOut</a>
        </div>
      {% else %}
        <div class="guest">
          <a href="{% url 'pet catalog' %}" class="nav-link">Pets</a>
          <a href="{% url 'event catalog' %}" class="nav-link">Events</a>
          <a href="{% url 'login user' %}" class="nav-link">Login</a>
          <a href="{% url 'register user' %}" class="nav-link">Register</a>

        </div>
      {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% if user.is_authenticated %}
        <div class="welcome-text">
            <p>Welcome to our pet rescue website, where compassion and care come together to find loving homes for adorable furry friends.</p>
        </div>
        {% endif %}
        {% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 2023 PawRescue. Vanesa Kuleva.</p>
    </footer>
</body>

</html>


