{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href= "{% static 'cs/styles.css' %}" />
</head>

  <body>
  <header>
      <div id="logo">
        <img src="{% static 'images/wepik-vintage-serif-typo-animal-badge-logo-20230709081847MMVF copy.png' %}" alt=""/>
        <a href="{% url 'index' %}">Home</a>
      </div>

      <div>
            <form id="searchbar" method="post">
                {{ form.target }}
                {% csrf_token %}
                {% if form.target %}
                    <button type="submit">Search</button>
                {% endif %}
            </form>
      </div>
      <nav>
          <ul role="list">
            <li><a href="#">About</a></li>
            <li><a href="">PetPosts</a></li>
          </ul>
          <ul role="list" class="nav-ul">
          {% if not user.is_authenticated %}
                <li><a href="{% url 'register user' %}">SignIn</a></li>
                <li><a href="{% url 'login user' %}">LogIn</a></li>
          {% else %}
                <li><a href="#">Add Post</a></li>
                <li><a href="{% url 'details user' pk=user.pk %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">LogOut</a></li>
          {% endif %}
          </ul>
      </nav>
  </header>

  <main>
    {% block content %}
    {% if user.is_authenticated %}
       <p class="welcome-user">Hello, {{ user.username }}!</p>
    {% endif %}
    <section id="main-content">
      <p>Help finding a forever home</p>
    </section>
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2023 PawRescue. Vanesa Kuleva.</p>

  </footer>
</body>
</html>