{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

  <body>
  <header>
      <div id="logo">
        <img src="{% static 'images/clipart904585.png' %}"/>
        <a href="{% url 'index' %}">Home</a>
      </div>

      <div>
            <form id="searchbar" method="post">
                {{ form.target }}
                {% csrf_token %}
                {% if form.target %}
                    <button type="submit">Search</button>
                {% endif %}
            </form>
      </div>
      <nav>
          <ul role="list">
            <li><a href="#">About</a></li>
            <li><a href="">Destinations</a></li>
          </ul>
          <ul role="list" class="nav-ul">
          {% if not user.is_authenticated %}
                <li><a href="{% url 'register user' %}">SignIn</a></li>
                <li><a href="{% url 'login user' %}">LogIn</a></li>
          {% else %}
                <li><a href="#">Add Destination</a></li>
                <li><a href="{% url 'details user' %}">Profile</a></li>
                <li><a href="{% url 'logout user' %}">LogOut</a></li>
          {% endif %}
          </ul>
      </nav>
  </header>

  <main>
    {% block content %}
    {% if user.is_authenticated %}
       <p class="welcome-user">Hello, {{ user.username }}!</p>
    {% endif %}
    <section id="main-content">
      <p>Discover amazing destinations and plan your next adventure.</p>
    </section>
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2023 PawRescue. Vanesa Kuleva.</p>

  </footer>
</body>
</html>