{% extends 'common/index.html' %}
{% load static %}
{% block content %}
    <div class="form-pets">
    <h2>Pet Catalog</h2>
    <div class="pet-cards">
        {% for pet in pets %}
        <div class="pet-card">
            <img src="{{ pet.photo.url }}" class="card-img-top" alt="Pet Image">
            <p class="name">{{ pet.name }}</p>
            {% if pet.pet_type == 'Other' %}
                <p class="details" ><strong>Pet type:</strong>  {{ pet.other_pet_type  }}</p>
            {% else %}
                <p class="details" ><strong>Pet type: </strong> {{ pet.pet_type }}</p>
            {% endif %}
            <p class="details"><strong>Breed:</strong> {{ pet.breed }}</p>
            <p class="details"><strong>Age:</strong> {{ pet.age }}</p>
            <p class="details"><strong>Gender:</strong> {{ pet.gender }}</p>
            <p class="details"><strong>Town:</strong> {{ pet.town }}</p>
            <p class="intrigued">Intrigued to learn more about <strong>{{ pet.name }}</strong>? Dive into the details to discover all there is to know!</p>

            <div class="details-buttons">
                {% if user.is_authenticated and user == pet.created_by %}
                    <a href="{% url 'details pet' pk=pet.pk %}" class="details-link">Details</a>
                {% else %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'details pet' pk=pet.pk %}" class="details-link">Details</a>
                    <a href="{% url 'adoption form' pk=pet.pk %}" class="details-link">Adopt</a>
                    {% else %}
                    <a href="{% url 'details pet' pk=pet.pk %}" class="details-link">Details</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}