{% extends 'common/index.html' %}
{% load static %}
{% block content %}
    <div class="form-pets">
    <h2>Pet Catalog</h2>
    <div class="pet-cards">
        {% for pet in pets %}
        <div class="pet-card">
        {% csrf_token %}
            <img src="{{ pet.photo.url }}" class="card-img-top" alt="Pet Image">
            <p>{{ pet.name }}</p>
            <p>{{ pet.pet_type }} - {{ pet.breed }}</p>
            <p>Age: {{ pet.age }}</p>
            <p>Description: {{ pet.description }}</p>
            <div class="details-buttons">
                <a href="{% url 'details pet' pk=pet.pk %}" class="details-link">Details</a>
                <a href="{% url 'adoption form' pk=pet.pk%}" class="details-link">Adopt</a>
                <a href="#" class="details-link">Donate</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
