@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
    font-family: 'Lato', sans-serif;
}

#dashboard {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-wrap: wrap;
}

 h2 {
     position: relative;
     text-align: center;
     font-size: 50px;
     color: rgb(88, 68, 42);
     background-color: #d5b48c;
     padding: 10px;
     border-radius: 10px;
     margin: 0 auto;
     max-width: 40%;
     font-family: 'Quicksand', cursive;
 }

.welcome-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #f4efec;
    background-color: rgb(213, 180, 140);
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 800px;
}







