@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-attachment: fixed;
    background-position: center;
    background-size: 100% auto;
    font-family: 'Lato', sans-serif;
}

#dashboard {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-wrap: wrap;
}

 h2 {
     position: relative;
     text-align: center;
     font-size: 50px;
     color: rgb(88, 68, 42);
     background-color: #d5b48c;
     padding: 10px;
     border-radius: 10px;
     margin: 0 auto;
     max-width: 40%;
     font-family: 'Quicksand', cursive;
 }


.pet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 50vh;
  padding-bottom: 1rem;
  margin: 20px auto;
  background-color: rgb(255, 204, 217);
  border-radius: 5px;
  border: 1px solid rgb(212, 139, 80);
  box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -4px 3px 25px 1px rgba(0, 0, 0, 0.55);
}

.pet img {
  height: 12vw;
}

.pet .title {
  margin: 0;
  letter-spacing: 2px;
  color: rgb(88, 68, 42);
  text-decoration: underline;
}

