.details-link {
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0 5px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #d48b50;
    transition: background-color 0.2s ease;
}

.details-link:hover {
    background-color: #f4efec;
}
.details-link:active {
    background-color: #1c1106;
    color: #fff;
}

.details-buttons, .adoption-buttons {
    margin-top: 40px;
}

.card-img-top {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.form p {
    color: #1f0710;
    font-size: 24px;
    margin-top: 10px;


}

