@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

#logo-img {
    width: 60px;
    height: 60px;
    filter: invert(1);
}

.logo-text {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-left: 15px;
}


.navigation {
    background-color: #d5b48c;
    text-align: center;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    margin-bottom: 20px;
}


.nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    margin: 5px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #d48b50;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: #1c1106;
}


.navigation button {
    background-color: #e99056;
    border: 2px solid #1c1106;
    border-radius: 8px;
    color: #1c1106;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    height: 48px;
    margin: 5px;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.footer {
    background-color: #d5b48c;
    text-align: center;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #d48b50;
    transition: background-color 0.2s ease;
}

.footer a:hover {
    background-color: #1c1106;
}

.footer a:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-link,
    .navigation button {
        width: 100%;
    }
}
