{% extends 'common/index.html' %}

{% block content %}
  <div class="profile">
    <h2 class="profile">Change Password</h2>
        <form class="form" method="post" action="">
            {% csrf_token %}
           {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {{ form.errors }}
            <button type="submit">Change</button>
        </form>
    </div>
{% endblock %}