{% extends 'common/index.html' %}

{% block content %}
    <div class="form_div">
        <img src="{{ profile.picture }}" alt="" width="200" height="200">
        <p>First Name: {{ object.first_name }}</p>
        <p>Last Name: {{ object.last_name }}</p>
        <p>Email: {{ object.user.email }}</p>
        <p>Age: {{ object.age }}</p>

        <div>
            <a href="{% url 'edit user' pk=user.pk %}">
                <button class="button">Edit</button>
            </a>
            <a class="anchor" href="#">
                <button class="button">Delete</button>
            </a>
            <a class="anchor" href="#">
                <button class="button">Change Password</button>
            </a>
        </div>
    </div>
{% endblock %}