{% extends 'common/index.html' %}
{% load static %}
{% block content %}
    <div class="form">


        {% if object.profile_picture %}
            <img src="{{ object.profile_picture }}" alt="" width="200" height="200">
        {% else %}
        <img src="{% static 'images/default_profile_picture.png' %}" alt="" width="200" height="200">
        {% endif %}
        <p>First Name: {{ object.first_name }}</p>
        <p>Last Name: {{ object.last_name }}</p>
        <p>Email: {{ object.user.email }}</p>
        <p>Age: {{ object.age }}</p>
    <a href="{% url 'owner approved adoptions' %}">View Approved from admin Adoption Applications</a>
<   <a href="{% url 'owner approved adoptions' %}">View Approved from admin Adoption Applications</a>
    {% if adoptions %}
            <h2>Adoption Applications:</h2>
            {% for adoption in adoptions %}
                <p><strong>Pet:</strong> {{ adoption.pet.name }}</p>
                <p><strong>Status:</strong> {{ adoption.status }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>No adoption applications filled yet.</p>
        {% endif %}
        <div class="details-buttons">
            <a href="{% url 'edit user' pk=user.pk %}" class="details-link">Edit</a>
            <a href="{% url 'delete user' pk=user.pk  %}" class="details-link">Delete</a>
            <a href="{% url 'change password' pk=user.pk  %}" class="details-link">Change Password</a>

        </div>
    </div>
{% endblock %}
