{% extends 'common/index.html' %}

{% block content %}
    <div class="profile">
        <form class="form" method="post" action="">
            {% csrf_token %}
           {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {{ form.errors }}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}