{% extends 'common/index.html' %}

{% block content %}
    <div>
        <h2 class="profile">Create Profile</h2>
        <form class="form" method="post" action="">
             {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}